<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/details.css' %}">
    <link rel="icon" href="{% static 'books/favicon.png' %}" type="image/png">
    <title>Book details</title>
</head>
<body>
    <div class="wrapper">
        <div class="back-to-results">
            <button>
                <a href="/books/search?q={{ query }}">Back to results</a>
            </button>
        </div>
        <div class="book-information">
            <div class="image">
                <img src={{ cover_image_url }} alt="">
            </div>
            <div>
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>    
        </div>
    </div>
</body>
</html>