<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/index.css' %}">
    <link rel="icon" href="{% static 'books/favicon.png' %}" type="image/png">
    <title>Books Explorer</title>
</head>
<body>
    <div class="wrapper">
        <div class="search-box">
            <div class="logo">
                <img src="{% static 'books/logo.png' %}" alt="logo" alt="book icon">
                <h1>Books Explorer</h1>
            </div>
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q" placeholder="Search for a book name">
                <button type="submit">Search</button>
            </form>
        </div>        
    </div>
</body>
</html>