html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcT82N1uvtAQjHGXUad7gegBaKX97sjRQdRX8ys69p_s7Or8J62yQbCmsHzdrZbtrRsq');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper .back-to-results {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.wrapper .back-to-results button a {
    text-decoration: none;
    color: black;
}

.wrapper .back-to-results button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.wrapper .book-information {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(90, 70, 60, 0.5);
    margin: 40px 20px;
}

.wrapper .book-information .image {
    display: flex;
    align-items: center;
}

.wrapper .book-information div {
    padding: 30px;
} 