* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcT82N1uvtAQjHGXUad7gegBaKX97sjRQdRX8ys69p_s7Or8J62yQbCmsHzdrZbtrRsq');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(90, 70, 60, 0.8);
    border: 1px solid #ccc;
}

.wrapper a {
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

.wrapper .book-information {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 40px 20px;
    background-color: rgba(90, 70, 60, 0.8);
    border: 1px solid #ccc;
}

.wrapper .book-information .image {
    display: flex;
    align-items: center;
}

.wrapper .book-information div {
    padding: 30px;
} 