html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcT82N1uvtAQjHGXUad7gegBaKX97sjRQdRX8ys69p_s7Or8J62yQbCmsHzdrZbtrRsq');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper .back-to-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.wrapper .back-to-search button a {
    text-decoration: none;
    color: black;
}

.wrapper .back-to-search button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.wrapper .results-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .results-information h1, p {
    color: white;
    margin: 0;
    padding-top: 10px;
}

.wrapper .results .book {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    background-color: rgba(90, 70, 60, 0.5);
}

.wrapper .results .book a {
    text-decoration: none;
    color: white;
}

.wrapper .results .book .image {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}